DDona.Relatorios.Web/Service References/LojaReference/DDona.Relatorios.DTO.Loja.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DDona.Relatorios.DTO.Loja" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DDona.Relatorios.DTO.Loja" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DDona.Relatorios.DTO.DataTables" />
  <xs:complexType name="LojaDatatablesResponseDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/DDona.Relatorios.DTO.DataTables" base="q1:DatatablesResponseModelDTOOfLojaDTOYsip9d3Q">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LojaDatatablesResponseDTO" nillable="true" type="tns:LojaDatatablesResponseDTO" />
  <xs:complexType name="ArrayOfLojaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LojaDTO" nillable="true" type="tns:LojaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLojaDTO" nillable="true" type="tns:ArrayOfLojaDTO" />
  <xs:complexType name="LojaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Investimento" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nota" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LojaDTO" nillable="true" type="tns:LojaDTO" />
</xs:schema>