DDona.Relatorios.Web/Service References/LojaReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DDona.Relatorios.DTO.DataTables" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DDona.Relatorios.DTO.Loja" />
  <xs:element name="GetRelatorioPaginadoDatatables">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DDona.Relatorios.DTO.DataTables" minOccurs="0" name="DatatablesModel" nillable="true" type="q1:DatatablesModelDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelatorioPaginadoDatatablesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DDona.Relatorios.DTO.Loja" minOccurs="0" name="GetRelatorioPaginadoDatatablesResult" nillable="true" type="q2:LojaDatatablesResponseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>